/* Docs: https://wf-starter-embeds-docs.vercel.app/docs/global-embeds/form-embeds/password-toggle */

  [data-password-toggle]::before{
    content: '';
    position: absolute;
    inset: -4px;
  }

  /* [data-password-toggle]{
    position: relative;
  } */

  [data-password-toggle]{
    outline: 5px solid transparent;
    border-radius: 2px;
    transition: all 200ms ease-out;
  }

  [data-password-toggle]:hover{
    outline: 5px solid var(--colors--silver);
    background-color: var(--colors--silver);
  }