  /* Navbar Embeds */

  .wf-design-mode .navbar_link-list{
    display: none;
  }
  
  .wf-design-mode [data-preview-nav='common'] #common,
  .wf-design-mode [data-preview-nav='free'] #free,
  .wf-design-mode [data-preview-nav='freelancer'] #freelancer,
  .wf-design-mode [data-preview-nav='brand'] #brands,
  .wf-design-mode [data-preview-nav='common'] [data-ms-content='!members'],
  .wf-design-mode [data-preview-nav='free'] [data-ms-content='free-access-only'],
  .wf-design-mode [data-preview-nav='freelancer'] [data-ms-content='freelancer-only'],
  .wf-design-mode [data-preview-nav='brand'] [data-ms-content='premium-brands'] {
    display: flex !important;

  }
  
  .wf-design-mode .navbar_link-list-wrapper{
    overflow: hidden;
  }